async-timeout==5.0.1
beautifulsoup4==4.12.3
celery==5.4.0
Django==5.0.3
django-redis==5.0.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
mysqlclient==2.2.7
openpyxl==3.1.2
pandas==2.1.4
redis==5.2.0
requests==2.31.0
rest-framework-simplejwt==0.0.2
